/* Helper */
* {
  border: 1px solid darkgray;
}

/* General */
body {
  background: papayawhip;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

/* Header */
.a {
  background-color: lightpink;
  min-height: 20vh;
  width: 100%;
  order: 1;
}

/* Main Content */
.b {
  background-color: lightsalmon;
  min-height: 40vh;
  width: 100%;
  order: 2;
}

.c {
  background-color: lightgoldenrodyellow;
  min-height: 20vh;
  width: 32%;
  flex-grow: 1;
  order: 3;
}

.d {
  background-color: lightgreen;
  min-height: 20vh;
  width: 32%;
  flex-grow: 1;
  order: 4;
}

.e {
  background-color: lightskyblue;
  min-height: 20vh;
  width: 32%;
  flex-grow: 1;
  order: 5;
}

.f {
  background-color: plum;
  min-height: 20vh;
  width: 100%;
  order: 6;
}

/* Wide View */
@Media (min-width: 700px) {
  .b {
    width: 74%;
    order: 2
  }

  .c {
    width: 24%;
    order: 4;
  }

  .d {
    width: 24%;
    order: 5;
  }

  .e {
    width: 24%;
    order: 6;
  }

  .f {
    flex-grow: 1;
    width: 24%;
    order: 3
  }

}